<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/base.css' />
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script>

      $(function () {
          console.log('Hello from jquery ... ');

          $('button.create-contact').click(function () {
              var form = document.forms.contact;
              var person = {
                  name: form.name.value,
                  email: form.email.value,
                  tel: form.tel.value
              };
              console.log(person);

              $.post('/contacts', person, function (data) {
                  console.log(data);
              });

          });

          $('button.list-contacts').click(function () {
              $.getJSON('/contacts', function (data) {
                  console.log(data);

                  var ul = $('ul#contacts');
                  ul.html('');
                  data.forEach(function (contact) {
                      console.log(contact);
                      $('<li>').html(contact.name + ', ' + contact.email + ', ' + contact.tel).appendTo(ul);
                  });

              });
          });


      });



    </script>
  </head>
  <body>
    <section class="panel">
      <header>
        <h2>Create a Contact</h2>
      </header>
      <div>
          <form name="contact">
              <input type="text" placeholder="name" name="name"/>
              <input type="email" placeholder="email" name="email"/>
              <input type="tel" placeholder="tel" name="tel"/>
          </form>
        <button class="create-contact">Create Contact</button>
      </div>
    </section>

    <section class="panel">
        <header>
            <h2>List All Contacts</h2>
        </header>
        <button class="list-contacts">List Contacts</button>
        <ul id="contacts">
        </ul>
    </section>
  </body>
</html>
